<ion-checkbox></ion-checkbox>
<ion-label (click)="favoritesOnlyClick()">Favorites only</ion-label>
<ion-list *ngFor="let pokemon of pokemonList">
  <ion-item *ngIf="showFavoritesOnly ? pokemon.isFavorite : true" (click)="itemClicked(pokemon.name)">
    <ion-avatar slot="start">
      <img [src]="pokemon.img">
    </ion-avatar>
    <ion-label>
      {{pokemon.name}}
    </ion-label>
    <ion-button *ngIf="!pokemon.isFavorite" fill="outline" (click)="addToFavorites(pokemon.name, $event)">
      <ion-icon slot="start" name="star"></ion-icon>
      Add to favorites
    </ion-button>
    <ion-button *ngIf="pokemon.isFavorite" color="danger" slot="end" (click)="removeFromFavorites(pokemon.name, $event)">Remove from favorites</ion-button>
  </ion-item>
</ion-list>
